*
{
	margin: 0;
	padding: 0;
}

html
{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

header /*Background Picture*/
{
	background-image: url(background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.logo img /*Corner Logo*/
{
	width: auto;
	height: 100px;
	float: left;
	filter: brightness(150%);
}

body /*Text*/
{
	font-family: monospace;
}

.row
{
	/*max-width: 1200px;*/
	margin: auto;
}

.home /*Home Page*/
{
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
	text-align: center;
	color: white;
}

h1 /*"Erik Tacam"*/
{
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 5em;
}

.intro-divider /*Header Divider*/
{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	display: inline-block;
}

h2 /*"Hello! Scroll down to learn more."*/
{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    padding-top: 15px;
}

.nav-buttons /*Navigation Buttons*/
{
	/*display: block;*/
	text-align: right;
	list-style: none;
	padding-top: 30px;
}

.button /*Home Buttons*/
{
	display: block;
	margin: auto;
	padding-top: 30px;
}

.profile-buttons /*Profile Buttons*/
{
	display: block;
	margin-left: 50%;
}

.btn /*General Buttons*/
{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;
}

.btn-one /*Facebook Button*/
{
	background-color: #3B5998;
	font-family: "Roboto", sans-serif;
}

.btn-two /*Instagram Button*/
{
	background-color: #DD2A7B;
	font-family: "Roboto", sans-serif;
}

.btn-three /*Resume Button*/
{
	background-color: #075E54;
	font-family: "Roboto", sans-serif;
}

.btn-four /*LinkedIn Button*/
{
	background-color: #0E76A8;
	font-family: "Roboto", sans-serif;
}

.btn-five /*GitHub Button*/
{
	background-color: #89007F;
	font-family: "Roboto", sans-serif;
}

.btn-six /*Home Button*/
{
	background-color: #26DFD0;
	font-family: "Roboto", sans-serif;
	color: black;
}

.btn-seven /*About Me Button*/
{
	background-color: #B8EE30;
	font-family: "Roboto", sans-serif;
	color: black;
}

.btn-eight /*Profile Button*/
{
	background-color: #F62AA0;
	font-family: "Roboto", sans-serif;
	color: black;
}

.btn-nine /*Contact Button*/
{
	background-color: #F9D030;
	font-family: "Roboto", sans-serif;
	color: black;
}
.section-a /*About Me Section A*/
{
	padding: 50px 0;
	background-color: #4285F4;
	font-family: "Roboto", sans-serif;
}

.img-responsive /*Travel Pictures*/
{
    margin: 10px;
    border: 3px solid black;
    float: right;
}

.pfp-responsive /*Profile Picture*/
{
	margin: 10px;
	border: 3px solid black;
	float: right;
	height: 200px;
}

.section-b /*About Me Section B*/
{
	padding: 50px 0;
	background-color: #D84437;
	font-family: "Roboto", sans-serif;
}

.section-c /*About Me Section C*/
{
	padding: 50px 0;
	background-color: #F4B400;
	font-family: "Roboto", sans-serif;
}

.section-heading /*Section Headers*/
{
	margin-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.para /*Paragraph*/
{
	font-size: 18px;
	font-weight: 400;
	padding-left: 10px;
	padding-right: 10px;
}

.banner
{
	padding: 100px 0;
	color: #f8f8f8;
	background: url(banner.jpg);
	background-size: cover;
	font-family: "Roboto", sans-serif;
	color: white;
}

.info
{
	color: #f8f8f8;
	font-family: "Roboto", sans-serif;
	color: black;
	padding-top: 50px;
	padding-bottom: 100px;
}